.cardListContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
}

.cardList {
  position: fixed;
  width: 70%;
  /* margin: 5px auto; */
  min-height: 600px;
  border-radius: 5px;
  background: rgb(212, 196, 196);
  top: 10px;
  left: 15%;
}

.cardTitle {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
  border-bottom: 2px solid white;
}

.closeCard {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: green;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.closeCard:hover {
  background: red;
}

.wrapperCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 160px;
  padding: 50px 70px;
}

.hide {
  display: none;
}

.infoCardItem {
  display: flex;
  text-shadow: 1px 1px greenyellow;
  color: crimson;
  min-height: 160px;
  font-style: oblique;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 85px;
  font-weight: lighter;
}
