.backgroundWebsite {
  background-image: url("../../assets/images/1-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  padding-left: 45px;
}

span {
  padding-left: 40px;
  cursor: pointer;
  transition: 0.2s;
}

span:hover {
  color: green;
  transform: scale(1.09);
}

.titleImage {
  position: relative;
}

.backImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.infoImage {
  position: absolute;
  top: 100px;
  left: 50%;
}

.more {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 130px;
  height: 40px;
  background: red;
  font-weight: 400;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
  line-height: 40px;
}

.more:hover {
  background: green;
}

.more1 {
  position: absolute;
  top: 190px;
  left: 5%;
  width: 130px;
  height: 40px;
  background: red;
  font-weight: 400;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
  line-height: 40px;
}

.more1:hover {
  background: green;
}

.more2 {
  position: absolute;
  top: 188px;
  right: 63%;
  width: 130px;
  height: 40px;
  background: red;
  font-weight: 400;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
  line-height: 40px;
}

.more2:hover {
  background: green;
}

.imageWrapper {
  height: 300px;
  padding: 15px 205px;
  display: flex;
  justify-content: space-between;
}

.part1 {
  position: relative;
}

.back1 {
  height: 300px;
  object-fit: cover;
}

.infoBack1 {
  position: absolute;
  top: 23px;
  left: 5%;
}

.part2 {
  position: relative;
}

.back2 {
  height: 300px;
  object-fit: cover;
}

.infoBack2 {
  position: absolute;
  top: 25px;
  right: 28%;
}

.elementsContainer {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-evenly;
}

.featured {
  width: 200px;
  padding-left: 204px;
}

.longline {
  padding-left: 204px;
  width: 658px;
}

.general {
  display: flex;
  padding: 0px 203px;
  justify-content: space-between;
  min-height: 1000px;
}

.listShoes {
  width: 67%;
  min-height: 815px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categories1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoShoes {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elem2 {
  display: flex;
  height: 450px;
  flex-direction: column;
  justify-content: flex-start;
}

.elem3 {
  height: 260px;
}

.product1 {
  display: flex;
  height: 220px;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.product1:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 10px black;
  border-radius: 20px 0 20px 0;
}

.product2 {
  display: flex;
  margin-top: 37px;
  height: 187px;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.product2:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 10px black;
  border-radius: 20px 0 20px 0;
}

.product3 {
  display: flex;
  height: 205px;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.product3:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 10px black;
  border-radius: 20px 0 20px 0;
}

.newStyle {
  width: 50px;
  padding-left: 100px;
}

.saleStyle {
  width: 60px;
  padding-left: 100px;
}

.shoes1 {
  width: 130px;
}

.simple {
  width: 100px;
}

.sum1 {
  width: 40px;
}

.shortLine {
  width: 125px;
}

.longline1 {
  width: 658px;
}

.latest {
  width: 190px;
}

.partElem1 {
  display: flex;
  flex-direction: column;
}

.partElem2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

.categories {
  width: 100px;
}

.plus {
  width: 25px;
  height: 25px;
  background: grey;
  border: none;
  border-radius: 50%;
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

.plus:hover {
  background: green;
}

.minus {
  width: 25px;
  height: 25px;
  background: grey;
  border: none;
  border-radius: 50%;
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

.minus:hover {
  background: red;
}

.banner {
  padding-left: 5px;
}

.elemPart2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  cursor: pointer;
}

.elemPart2:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 10px black;
  border-radius: 20px 0 20px 0;
}
